/* theme.css */
:root {
  /* 색상 */
  --color-primary: #33573b;
  --color-secondary: #5A3E36;
  --color-accent: #A8C686;

  --color-bg: #F8F8F5;
  

  --color-text: #333333;
  --color-muted: #666666;

  --color-border: #cccccc;
  --color-divider: #eeeeee;

  --color-success: #388E3C;
  --color-error: #D32F2F;
  --color-info: #0288D1;

  /* 폰트 */
  --font-main: 'Pretendard', sans-serif;

  /* radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  /* 그림자 */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 2px 6px rgba(0, 0, 0, 0.15);
}
